/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;    /*  aligns items vertically */
  align-items: center;      /* centers items in the middle of a column */
  justify-content: center;  /* aligns items horizontally */
}

a {
  text-decoration: none;
  /* color: inherit; */
}

.ital {
    font-style: italic;
}

#table-container {
    display: flex;
    flex-direction: column;    /*  aligns items vertically */
    align-items: left;      /* centers items in the middle of a column */
    justify-content: center;
    width: 100vw;
}

.mod-title {
    background-color: aquamarine;
    padding: 15px 20px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 30px;
}

.mod-desc-row {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    border-bottom: 1px solid #dadada;
}

/* .pair {
    background-color: #dadada;
} */

.desc {
    width: 30%;
}

.desc-value {
    width: 70%;
    word-wrap: break-word;
}