@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;    /*  aligns items vertically */
  align-items: center;      /* centers items in the middle of a column */
  justify-content: center;  /* aligns items horizontally */
}

a {
  text-decoration: none;
  color: inherit;
}

#table-container {
    display: flex;
    flex-direction: column;    /*  aligns items vertically */
    align-items: left;      /* centers items in the middle of a column */
    justify-content: center;
    background-color: aquamarine;
    width: 100vw;
    padding: 10px 20px;
}