@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

:root {
  --edit: #7879e3;
  --del: #f73131;
  --navbar: #434343;
  --navtext: #dd4845;
  --gray: #a0a0a0;
}

body {
  display: block;
  font-family: 'Roboto', sans-serif;
  align-items: center;      /* centers items in the middle of a column */
  justify-content: center;  /* aligns items horizontally */
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  text-transform: uppercase;
}

sup {
  color: #a0a0a0;
  font-size: 10px;
  margin-left: 3px;
}

.bold {
  font-weight: bold;
}

.ital {
  font-style: italic;
}

.text-mid {
  text-align: center;
}

.w-20 {
  width: 20%;
}

.w-15 {
  width: 15%;
}

.w-10 {
  width: 10%;
}

.hide {
  display: none!important;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--navbar);
  color: var(--navtext);
  padding: 10px 20px;
}

nav h1 {
  min-width: 50%;
}

#nav-items-large {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 50%;
  padding-top: 5px;
  list-style-type: none;
}

#nav-items-large li {
  /* display: inline-block; */
  vertical-align: middle;
  text-align: center;
  padding: 5px 10px;
}

.page-desc {
  background-color: var(--gray);
  margin: 15px 0;
  padding: 10px 20px;
}

#table-container {
  display: block;
  position: relative;
  width: 94vw;
  margin: 0 auto;
}

.desc-row {
  background-color: blanchedalmond;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  min-height: 50px;
}

.item-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  min-height: 50px;
  border-bottom: 1px solid #000;
}

.desc-item {
  height: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  word-wrap: break-word;
  text-align: center;

  border-style: none solid;
  border-width: 1px;
  border-color: #fff;
}

.mod-row {
  height: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-left: 5px;
  word-wrap: break-word;
}

.edit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: none;
  border-radius: 5px;
  height: 60px;
  margin: 5px;
}

.edit-sizes {
  width: 65px;
  padding: 5px;
}

.icon {
  color: #fff;
  font-size: 30px;
}

.edit-icon {
  background-color: var(--edit);
}

.del-icon {
  background-color: var(--del);
}

/* Mobile styling */
#mob-nav {
  position: relative;
  background-color: var(--navbar);
  border: 1px solid var(--navtext);
  border-radius: 3px;
  padding: 10px;
}

.mob-nav-icon {
  display: block;
  position: relative;
  width: 100%;
  background-color: transparent;
  color: var(--navtext);
  font-size: 30px;
  border: none;
  z-index: 2;
}

#mob-nav-list {
  background-color: var(--navbar);
  position: absolute;
  width: 200px;
  right: -1px;
  top: -1px;
  margin-top: 0;
  padding: 50px 20px 10px 10px;

  border: 1px solid var(--navtext);
  border-radius: 3px;
  list-style: none;
  z-index: 1;

  animation: fadein .5s;
}

@keyframes fadein {
  0%{ opacity: 0 }
  100%{ opacity: 1 }
}

#mob-nav-list li {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.mod-title {
  position: relative;
  background-color: aquamarine;
  padding: 15px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
}

.edit-btn {
  background-color: var(--edit);
  position: absolute;
  top: 15%;
  left: 15px;
  height: 70%;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 5px;
  padding: 0 5px;
}

.del-btn {
  background-color: var(--del);
  position: absolute;
  top: 15%;
  right: 25px;
  height: 70%;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 5px;
  padding: 0 5px;
}

.mod-desc-row {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  border-bottom: 1px solid #dadada;
}

.desc {
  width: 30%;
  padding-right: 10px
}

.desc-value {
  width: 70%;
  word-wrap: break-word;
}

.desc-replacement {
  width: 100%;
}

@media screen and (max-width: 768px) {
  #table-container {
    display: flex;
    flex-direction: column;    /*  aligns items vertically */
    align-items: left;      /* centers items in the middle of a column */
    justify-content: center;
    width: 96vw;
  }

  .desc-row {
    display: none;
  }
}

/* optimisations for screens > 1177px */
@media screen and (max-width: 1177px) {
  #nav-items-large {
    display: none;
  }
}

@media screen and (min-width: 1178px) {
  #mob-nav {
    display: none;
  } 
}